extends ./admin

block admincontent
    h3.adminPagesTitle
        | All Products
    .dialog
        .container
        button#addProduct.admin-add.btn.btn-success.btn-md(type='button') Add product
        table.table.table-striped.table-hover.table-dark
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Category
                    th(scope='col') Product
                    th(scope='col') Price
                    th(scope='col') Promotion
                    th(scope='col') Picture
                    th(scope='col') Picture URL
            tbody
            each product in context.allProducts
                form(action='/admin/products', method='post')
                    tr
                        th(scope='row') 
                            label
                                input.productsAdmin(name='productId' type='text' value=product.id)
                                span
                                     =product.id
                        td
                            select(name='categoryId')
                                each category in context.allCategories
                                    if category.name === product.Category.name
                                        option(selected='selected' name=category.name value=category.id) #{category.name}
                                    else
                                        option(name=category.name value=category.id) #{category.name}
                        td #{product.name}
                        td 
                            input(type='number' value=product.price)
                        td
                            select(name='promotionId')
                                each promo in context.allPromotions
                                    if product.Promotion.type === promo.type
                                        option(selected='selected' name=promo.type value=promo.id) #{promo.type}
                                    else
                                        option(name=promo.type value=promo.id) #{promo.type}
                        td 
                            img(src=product.pictureUrl width='50px' height='auto')
                        td 
                            input(type="url", name="", value=product.pictureUrl)
                            button.ordersbtn.btn.btn-xs.btn-success(type='submit')  Submit