mixin container(products)
    div.container
        div.row
        each product in products
            div.col-sm-4.product-wrapper
                if product.saleSign
                    div.inner-product-wrapper.container-fluid.saleContainer
                        div.row
                            h2.product-name-sale.product-name.col-xs-12=product.name
                        div.row
                            img.product-image.col-xs-12(src=product.pictureUrl alt=product.name)
                            div.row
                                p.product-sale.col-xs-12=product.saleSign
                            div.row
                                p.price-was.col-xs-5.col-xs-offset-1 Was:
                                p.product-oldPrice.col-xs-5.col-xs-offset-1 #{product.oldPrice}
                                p.price-now.col-xs-5.col-xs-offset-1 NOW:
                                p.product-newPrice.col-xs-5.col-xs-offset-1 #{product.newPrice}
                        form.row()
                            a.btn.btn-default.col-xs-6.col-xs-offset-1(href='#', role='button') Add to basket
                            input.col-xs-3.col-xs-offset-1(type='number' min='1' max='10' value="1")
                else
                    div.inner-product-wrapper.container-fluid
                        div.row
                            h2.product-name.col-xs-12=product.name
                        div.row
                            img.product-image.col-xs-12(src=product.pictureUrl alt=product.name)
                            div.row
                                p.product-price.col-xs-5.col-xs-offset-1 Price: #{product.oldPrice}
                        form.row()
                            a.btn.btn-default.col-xs-6.col-xs-offset-1(href='#', role='button') Add to basket
                            input.col-xs-3.col-xs-offset-1(type='number' min='1' max='10' value="1")
