extends ./admin
//- include ./_shared/navigation

block admincontent
    table.table.table-striped.table-hover.table-dark
        thead
            tr
                th(scope='col') #
                th(scope='col') User
                th(scope='col') Address
                th(scope='col') Status
        tbody
        each user in context.allOrders
            form(action="/admin/orders", method="post")
                tr
                    th(scope='row') 
                        label
                            input.ordersAdmin(name="orderId" type="text" value=user.orderId)
                            span
                                 =user.orderId
                    td #{user.email}
                    td #{user.address}
                    td
                        select(name="orderStatusId")
                            if user.status === 'In cart'
                                option(selected="selected") #{user.status}
                                option(value=2) In progress
                                option(value=1) Delivered
                            else if user.status === 'In progress'
                                option In cart
                                option(selected="selected") #{user.status}
                                option Delivered
                            else if user.status === 'Delivered'
                                option In cart
                                option In progress
                                option(selected="selected") #{user.status}
                        button.ordersbtn.btn.btn-xs.btn-success(type="submit")  Submit