extends ../_shared/master
include ../_shared/login
include ../_shared/register
include ../_shared/choose

block content
        div.container
            div.text-center 
                h1 Current Order
            div.col-xs-8.col-xs-offset-2(id='tableWrapper')
            div(id='button').col-xs-8.col-xs-offset-2
                a.col-xs-12.btn.btn-default(href='#' data-toggle='modal' data-target='#signlogModal')
                    span Confirm delivery!
            div.col-xs-8.col-xs-offset-2.text-center 
                h4 Order History
            div.col-xs-8.col-xs-offset-2
                table.table.table-bordered
                    tbody
                        tr.info
                            td #
                            td Status: 
                            td Date: 
                            td Adress: 
                        each order, index in ordersByUser
                            tr.active
                                td #{index}
                                td #{order.status}
                                td #{order.date}
                                td #{order.address}
                            tr.info
                                td.text-center(colspan="4") Products
                                    each product, indexProduct in order.products
                                        p
                                            |  (#{indexProduct})
                                            |  #{product.name} 
                                            |  #{product.price}


