extends ../_shared/master
include ../_shared/login
include ../_shared/register
include ../_shared/choose

block content
        div.container-fluid
            div
                p Current order
            table.table.table-bordered
                tbody
                    tr.info
                        td #
                        td Status: 
                        td Date: 
                        td Adress: 
                    each order, index in ordersByUser
                        tr.active
                            td #{index}
                            td #{order.status}
                            td #{order.date}
                            td #{order.address}
                        tr.info
                            td(colspan="4") Includes Products
                        tr.active
                            td Name: 
                            td Price: 
                            td Category:
                            td Picture:
                            each product, indexProduct in order.products
                                tr
                                tbody
                                    td #{product.name} 
                                    td #{product.price} 
                                    td #{product.category} 
                                    td #{product.pictureUrl} 

